@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .notebook-page {
    background-image: linear-gradient(to bottom, transparent 99%, #ccc 99%);
    background-size: 100% 2em;
    background-attachment: local;
    line-height: 2em;
  }
}
